@import "tailwindcss";

:root {
  --background-color: rgb(250, 245, 245);
  --text-color: rgb(46, 46, 46);
  --font-funnel-sans: "Funnel Sans", sans-serif;
}

@theme {
  --color-background: var(--background-color);
  --color-text: var(--text-color);
  --font-sans: var(--font-funnel-sans);
  --font-mono: var(--font-geist-mono);
  --container-max: 95%;
}

@media (min-width: 640px) {
  :root {
    --container-max: calc(90% - (2rem + 5vw));
  }
}

@media (min-width: 768px) {
  :root {
    --container-max: calc(85% - (3rem + 8vw));
  }
}

@media (min-width: 1280px) {
  :root {
    --container-max: calc(85% - (3rem + 12vw));
  }
}

@media (min-width: 1536px) {
  :root {
    --container-max: 1150px;
  }
}

@media (min-width: 1800px) {
  :root {
    --container-max: 1250px;
  }
}

/* .dotted-bg {
  background-color: var(--background-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Ccircle cx='14' cy='14' r='1.2' fill='%235b5b5b'/%3E%3C/svg%3E");
} */
