@import "tailwindcss";

:root {
  --background-color: rgb(250, 245, 245);
  --text-color: rgb(46, 46, 46);
}

@theme inline {
  --color-background: var(--background-color);
  --color-text: var(--text-color);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(250, 245, 245);
    --text-color: rgb(46, 46, 46);
  }
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
